<% include ../base/_header.ejs %>
<% include ../base/_navbar.ejs%>
<% include ../base/_aside.ejs %>
<% include _form.ejs%>
<!-- Tablet Project -->
<div class="col-sm-9" >
    <div class="row">
        <h2  style="margin-top:60px" class="sub-header">Projects</h2>
<% include _table.ejs %>

<% include ../base/_footer.ejs %>