<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2 style="font-size: 30px">
                Dashboard
            </h2>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div style="height: auto" class="info-box-4 bg-red hover-zoom-effect">
                <div class="icon">
                    <i class="material-icons">layers</i>
                </div>
                <div class="content">
                    <div class="text" style="font-size: 30px">Project Report</div>
                    <div class="number">
                        <button type="button" data-toggle="modal" data-target="#ModalProject" class="btn bg-blue btn-circle waves-effect waves-circle waves-float">
                            <i class="material-icons">add</i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div style="height: auto" class="info-box-4 bg-light-blue hover-zoom-effect">
                <div class="icon">
                    <i class="material-icons">text_fields</i>
                </div>
                <div class="content">
                    <div class="text" style="font-size: 30px">Activity Report</div>
                    <div class="number">
                        <button type="button" data-toggle="modal" data-target="#ModalActivity" class="btn bg-red btn-circle waves-effect waves-circle waves-float">
                            <i class="material-icons">add</i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div style="height: auto" class="info-box-4 bg-red hover-zoom-effect">
                <div class="icon">
                    <i class="material-icons">face</i>
                </div>
                <div class="content">
                    <div class="text" style="font-size: 30px">User Report</div>
                    <div class="number">
                        <button type="button" data-toggle="modal" data-target="#ModalUser" class="btn bg-blue btn-circle waves-effect waves-circle waves-float">
                            <i class="material-icons">add</i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>