<% include ../base %>
<section class="wrapper">
    <% include ../base%>
    <% include ../base %>
    <section class="main-content">
        <div class="container">

        </div>
    </section>
</section>
<% include ../base %>