<% include ../../base/_header.ejs %>
<% include ../../base/_navbar.ejs %>
<% include ../../base/_aside.ejs %>
<br>
<div class="col-sm-9">
    <div class="row">
        <form action="/admin/users/<%= user._id %>" style="margin-top: 5%" method="post">
            <div class="form-group  col-sm-6">
                <label>Name</label>
                <input type="text" class="form-control" name="name" value="<%= user.name %>" required>
            </div>
            <div class="form-group  col-sm-6">
                <label>Email</label>
                <input type="email" class="form-control" name="email" value="<%= user.email %>" required>
            </div>
            <div class="form-group  col-sm-6">
                <label>Password</label>
                <input type="password" class="form-control" name="password" value="" required>
            </div>
            <div class="form-group  col-sm-6">
                <label>Biography</label>
                <input type="text" class="form-control" name="bio" value="<%= user.bio %>" required>
            </div>
            <div class="form-group col-sm-6" >
                <div class="form-select">
                    <label>Rol</label><br>
                    <select class="selectpicker" name="rol" required>
                        <% if(user.rol == "admin"){%>
                        <option value="admin" selected>Administrator</option>
                        <option value="user">User</option>
                        <%}else{%>
                        <option value="admin">Administrator</option>
                        <option value="user" selected>User</option>
                        <%}%>
                    </select>
                </div>
            </div>
            <div class="form-group  col-sm-6" >
                <label>Status</label><br>
                <select class="selectpicker" name="status" required>
                    <option value="true">Active</option>
                    <option value="false" active>Inactive</option>
                </select>
            </div>
            <div class="row">

                <div class="col-sm-5 text-center">
                    <a class="btn btn-info" href="/admin/users">Back</a>
                </div>
                <div class="col-sm-6 text-center">
                    <input type="hidden" value="PUT" name="_method">
                    <button type="submit" class="btn btn-info ">Update</button>
                </div>
            </div>
        </form>
        <!--</div>-->
    </div>

</div>

<% include ../../base/_footer.ejs %>