<section>
    <!-- Left Sidebar -->
    <aside id="leftsidebar" class="sidebar">
        <!-- User Info -->
        <div class="user-info">
            <div class="image">
                <img src="/images/user.png" width="48" height="48" alt="User" />
            </div>
            <div class="info-container">
                <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= currentUser.name%></div>
                <div class="email"><%= currentUser.email%></div>
                <div class="btn-group user-helper-dropdown">
                    <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
                    <ul class="dropdown-menu pull-right">
                        <li><a href="/profile/<%= currentUser._id %>"><i class="material-icons">person</i>Profile</a></li>
                        <li role="seperator" class="divider"></li>
                        <li><a href="/logout"><i class="material-icons">input</i>Sign Out</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Menu -->
        <div class="menu">
            <ul class="list">
                <% if(currentUser.rol === 'admin'){ %>
                <li>
                    <a href="/admin/dashboard/">
                        <i class="material-icons">home</i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/projects/">
                        <i class="material-icons">layers</i>
                        <span>Projects</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/clients/">
                        <i class="material-icons">text_fields</i>
                        <span>Clients</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/users/">
                        <i class="material-icons">face</i>
                        <span>Users</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/assets/">
                        <i class="material-icons">important_devices</i>
                        <span>Assets</span>
                    </a>
                </li>
                <li>
                    <a href="/coworker/">
                        <i class="material-icons">supervisor_account</i>
                        <span>Coworker</span>
                    </a>
                </li>
                <%}else{%>
                <li>
                    <a href="/dashboard/">
                        <i class="material-icons">home</i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="/projects/">
                        <i class="material-icons">layers</i>
                        <span>Projects</span>
                    </a>
                </li>
                <li>
                    <a href="/coworker/">
                        <i class="material-icons">layers</i>
                        <span>Coworker</span>
                    </a>
                </li>
                <%}%>


            </ul>
        </div>
    </aside>
    <!-- #END# Left Sidebar -->
</section>
