<% include _header_login %>
<div class="wrapper">
    <div class="container">
        <img src="images/logo_bar.png" width="100px" style="margin-top: -60px">
        <h1>SunDevs Manager</h1>
        <form action="/login" method="post">
            <input type="text" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Password">
            <button type="submit" id="login-button">Login</button>
            <br>
        </form>
        <span>v 1.1.2</span>
    </div>

    <ul class="bg-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</body>
</html>