<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2 style="font-size: 30px">
                Hardware
            </h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div style="height: auto" class="info-box-4 bg-red hover-zoom-effect">
                    <div class="icon">
                        <i class="material-icons">layers</i>
                    </div>
                    <div class="content">
                        <div class="text" style="font-size: 30px">Brand and Types </div>
                        <div class="number" style="margin-left: 100%">
                        <button type="button" data-toggle="modal" data-target="#ModalIsset" class="btn bg-blue btn-circle waves-effect waves-circle waves-float">
                                <i class="material-icons">add</i>
                            </button>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div style="height: auto" class="info-box-4 bg-red hover-zoom-effect">
                    <div class="icon">
                        <i class="material-icons">layers</i>
                    </div>
                    <div class="content">
                        <div class="text" style="font-size: 30px">Register Hardware</div>
                        <div class="number" style="margin-left: 90%">
                        <button type="button" data-toggle="modal" data-target="#ModalHardware" class="btn bg-blue btn-circle waves-effect waves-circle waves-float">
                                <i class="material-icons">add</i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% include _table.ejs%>
    </div>
</section>